$emerald: #50C878;

.btn
{
    background-color: $emerald;
}

.error
{
    color: red;
}

.fbf-box
{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.nav-link
{
    color: white;
}

.navbar
{
    background-color: $emerald;
}

.navbar-brand
{
    color: white;
}

.navbar-text
{
    color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a
{
	color: white;
}

.navbar-default .navbar-nav > .active > a
{
	color: green;
	//background-color: white;
}

.navbar-btn
{
    background-color: white;
    color: $emerald;
    border: $emerald;
}

.std-header
{
    color: $emerald;
}

//Login Inputs

input[type=text], input[type=password]
{
    width:100%;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.watchlist
{
	background-color: red;
}
