@import "variables";

// Fonts

h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
blockquote {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
pre {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// Normal Style

.btn
{
    background-color: $emerald;
	color: white;
	border-color: $emerald;
}

.error
{
    color: red;
}

.fbf-box
{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

label {
	color: $emerald-dark;
	text-stroke: 2px black;
}

.nav-link
{
    color: white;
}

.navbar
{
    background-color: $emerald;
}

.navbar-brand
{
	color: white;
}

.navbar-logo
{
	width:170px;
	max-height:70px;
}

.navbar-text
{
    color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a
{
	color: white;
}

.navbar-default .navbar-nav > .active > a
{
	color: green;
	//background-color: white;
}

.navbar-btn
{
    background-color: white;
    color: $emerald;
    border: $emerald;
}

ul.solicitation-info
{
	list-style-type: none;
}

ul.solicitation-contacts
{
	list-style-type: none;
}

.std-header
{
    color: $emerald;
}

//Login Inputs

input[type=text], input[type=password]
{
    width:100%;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

.watchlist
{
	background-color: #ffa07a;
}

.watchlist-btn
{
	position: relative;
	left:30px;
}
