@import "variables";

.container-fluid, .row-fluid {
	height: 100%;
	display: flex;
	justify-content: center;
	alight-items: center;
}

.header {
	font-size: 250%;
}

h1 {
	color: $emerald;
}

h2 {
	color: $emerald;
}

.sub-header {
	font-size: 200%;
}

.label {
	float: left;
}

.wireframe {
	border: 1px;
}

.div {
	border: 1px;
	border-color: black;
}

.feature-desc {
	border-style: solid;
	border-width: large;
	border-color: $emerald;
	padding: 5px;
}

p {
	margin-bottom: 0;
}

.btn {
	text-size: xl;
}

.beta-notification {
	margin-top: 10px;
}

input {
    width:100%;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}
