beautifulsoup4==4.3.2
dj-database-url==0.4.0
Django==1.11
django-analytical==2.0.0
django-crispy-forms==1.6.0
django-filter==1.0.2
django-pudb==0.1.0
django-tables2==1.2.6
django-widget-tweaks==1.4.1
gunicorn==19.4.5
pudb==2015.3
psycopg2==2.6.1
pytz==2016.7
requests==2.9.1
whitenoise==2.0.6
