{% extends "emerald/base.html" %}

{% block title %} Sign in to your account {% endblock %}

<!--Don't display the login info on the login page-->

{% block login_info %} {% endblock %}

{% block content %}
    <h2>Login to your account</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="id_username"><b>Username:</b></label>    
            <input type="text" class="form-control" name="username" placeholder="Enter Username" size="50" required/>
        
            <label for="id_password"><b>Password:</b></label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password" value="" size="50" required/>     
        
        <button type="submit" class="btn btn-primary" value="submit"/>Login</button>

        </div>

        <!--This is here so that we know which page we should redirect to.  If it is empty the user is redirected to the home page.-->

        <input type="hidden" value="{{ next }}" name="next" />

    </form>
{% endblock %}

{% block footer %}
{% endblock %}
