{% extends "emerald/base.html" %}

{% block title %} Sign in to your account {% endblock %}

<!--Don't display the login info on the login page-->

{% block login_info %} {% endblock %}

{% block content %}
    <div class="container">
        <h2 class="std-header">Login to your account</h2>
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
                <label for="id_username"><b>Username:</b></label>
                <input type="text" class="form-control" name="username" placeholder="Enter Username" size="50" required/>

                <label for="id_password"><b>Password:</b></label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password" value="" size="50" required/>

            <!--Give users the ability to register-->

            <p>
                <a href="{% url 'accounts:register' %}">Don't have an account? Click here to register!</a>
            </p>

            <button type="submit" class="btn btn-primary" value="submit"/>Login</button>


            <!--This is here so that we know which page we should redirect to.  If it is empty the user is redirected to the home page.-->
            {% if next %}
                <input type="hidden" value="{{ next }}" name="next" />
            {% endif %}

        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
