

<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}

  <!-- Reference external CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'emerald/style.css' %}" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Navbar -->

  <div class="row">
      <div class=col-md-12 id="main-nav"></div>
  </div>
</head>



<body>

</body>
</html>
