

<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'emerald/style.css' %}" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<header>
	<div class="title-banner">
		<h1>EmeraldGov</h1>
	</div>
</header>

<body>

<div class="test">
  Welcome to the next generation of government contract searching
</div>


</body>
</html>
