{% extends "emerald/base.html" %}
{% load staticfiles %}

{% block title %}
    EmeraldGov - Home
{% endblock %}

{% block additional-sources %}
	<link rel="stylesheet" type="text/css" href="{% static 'emerald/css/landing.css' %}" />
{% endblock %}

{% block login_info %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="logo-header col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<img id="logo" class="center" src="static/emerald/images/emerald-logo.png">
		</div>
	</div>
	<div class="row">
		<div class="header text-center">
			<h1 class="header">Win More Business</h1>
		</div>
		<p class="sub-header text-muted text-center">
			Use EmeraldGov to find and win government contracts.
		</p>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<form action="#" method="post">{% csrf_token %}
				{{ form }}
			<div class="form-action">
				<button type="submit" class="btn btn-lg text-center" value="Get Started">Get Free Beta Invite</button>
			</div>
			</form>
		</div>
	</div>

	<!--Feature Descriptions-->

	<!--<div class="row">-->
		<!--<div class="row">-->
			<!--<div class="col-md-2 col-md-offset-2 text-center">-->
				<!--<h2>Solicitaton Database</h2>-->
				<!--<div class="feature-desc">-->
					<!--<p>-->
						<!--Search a database of all the solicitations on fbo.gov, -->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-2 col-md-offset-1 text-center">-->
				<!--<h2>Magic</br> Search</h2>-->
				<!--<div class="feature-desc">-->
					<!--<p>-->
						<!--Sifting through the never-ending torrent of opportunities takes up way too much of your time.  EmeraldGov's "Magic Search" feature uses your Cage Code to find all of the most relevant opportunities so that you can spend more time capturing and fulfilling contracts, and less time looking for them.-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-2 col-md-offset-1 text-center">-->
				<!--<h2>Contact Management</h2>-->
				<!--<div class="feature-desc p-1">-->
					<!--<p>-->
						<!--EmeraldGov understands that government contracting is all about relationships, so our platform gives you all of the tools you need to build productive relationships with the key government buyers in your industry.-->
					<!--</p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<p class="beta-notification">EmeraldGov is getting ready to launch, but before we do we are inviting people to try us out for free during our beta test! Enter your email address to get free early access to this new technology, and take your business to the next level.</p>
		</div>
	</div>
</div>
{% endblock %}
