{% extends "emerald/base.html" %}
{% load staticfiles %}

{% block title %}
    EmeraldGov - Home
{% endblock %}

<!--Overwrite these things for the login page-->

{% block login_info %}
{% endblock %}
{% block nav %}
{% endblock %}

<!--Main content-->

{% block content %}
<div class="container">
	<img id="logo" src="{% static 'emerald/images/emerald-logo.png' %}">

	<h2>
		<strong>Find Opportunities</strong><br />
		<span class="text-muted">Win Government Business</span>
	</h2>
	<p>Finding and capturing government business is hard.  With so many opportunities, you can spend hours each week searching for your needle in the government contracting haystack.</p>
</div>

<!--Style the page:-->

<style>
#logo
{
	width:500px;
	height:100px;
}
</style>
{% endblock %}

