{% extends "emerald/base.html" %}
{% load staticfiles %}

{% block title %}
    EmeraldGov - Home
{% endblock %}
{% block additional-sources %}
	<link rel="stylesheet" type="text/css" href="{% static 'emerald/css/zygarde.css' %}" />
{% endblock %}

<!--Overwrite these things for the login page-->

{% block login_info %}
{% endblock %}
{% block nav %}
{% endblock %}

<!--Main content-->

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<img id="logo" class="center" src="static/emerald/images/emerald-logo.png">
			<div class="header">
				<h1 class="mx-auto header">Win More Business</h1>
			</div>
			<p class="sub-header text-muted">
				Use EmeraldGov to find and win government business.
			</p>
			<div class="col-md-6 col-md-offset-3">
				<form action="/accounts/register/" method="post">{% csrf_token %}
					{{ form }}
					<button type="submit" class="btn btn-xl" value="Get Started">Get Started</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!--Style the page:-->

<style>
</style>
{% endblock %}
